---
import About from '../components/About.astro'
import Comments from '../components/Comments.astro'
import Navbar from '../components/Navbar.astro'
import Proyects from '../components/Proyects.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='My portfolio'>
	<main>
		<Navbar
			home='#home'
			projects='#projects'
			about='#about'
			contact='#contact'
			display='flex'
		/>
		<div
			class='h-full bg-gradient-to-br from-[#181b20] to-[#312e33] relative'
		>
			<Section
				title='Gabriel Quintáns Souto'
				description={`Hola! soy d4er un joven desarrollador fullstack con 2 años de
			experiencia, disfruto creando aplicaciones basadas en
			microservicios, rest apis, y otros...`}
			/>
			<Proyects />
			<About />
			<Comments />
			<footer
				class='w-full h-[50px] top-[100%] relative bg-[#373636] max-[666px]:h-[90px]'
				id='contact'
			>
				<div class='max-[652px]:-top-2 relative'>
					<span
						class='text-white pl-10 relative top-4 max-[652px]:pl-0 max-[652px]:left-10 max-[652px]:w-[200px] max-[652px]:block'
						>Contacto: md d4er#4585 | byaxis.11@gmail.com</span
					>
					<span
						class='text-white float-right mr-10 mt-4 relative max-[652px]:block max-[652px]:float-none max-[652px]:left-10'
						>App desarrollada por <a
							href='https://github.com/der56'
							target='_blank'
							class='text-blue-200'>der56</a
						></span
					>
				</div>
			</footer>
		</div>
	</main>
</Layout>
