<article
  class="flex flex-col text-white w-[100%] py-20 pagew:w-[90%] pagew:mx-auto"
  id="sobre-mi"
>
  <h1 class="sm:text-4xl font-semibold pb-3 text-xl">Sobre mí</h1>
  <div class="sm:text-lg text-pretty text-base">
    Soy Gabriel Quintáns Souto, tengo 17 años y mi pasión por la programación
    comenzó a los 10 años, cuando empecé a explorar C++. Esta experiencia
    inicial me dio una sólida base en lógica y resolución de problemas.<br />
    <br />
    Con el tiempo, me enfoqué en tecnologías modernas aplicadas al desarrollo web.
    Actualmente soy estudiante de Formación Profesional Básica. Me centro en el aprendizaje
    continuo y en mejorar mis habilidades técnicas cada día.<br />
    <br />
    Mi objetivo es seguir creciendo profesionalmente y afrontar nuevos desafíos en
    la programación.
  </div>
</article>
