<article
  class="flex flex-col mx-auto text-white w-[100%] sm:w-[75%] text-center pb-20 pt-[4.4rem]"
  id="sobre-mi"
>
  <h1 class="text-2xl font-semibold pb-3">Sobre mí</h1>
  <div class="text-lg text-pretty">
    Soy <strong>Gabriel Quintáns Souto</strong>, tengo <strong>16 años</strong> y
    mi pasión por la programación comenzó a los <strong>10 años</strong>, cuando
    empecé a explorar <strong>C++</strong>. <br /> Esta primera incursión me permitió
    desarrollar una sólida base en <strong>lógica</strong> y <strong
      >resolución de problemas</strong
    >. Con el tiempo, mi interés se volcó en tecnologías más modernas y
    aplicadas al <strong>desarrollo web</strong>. Actualmente, soy <strong
      >desarrollador full-stack</strong
    > y estudiante de <strong>Formación Profesional Básica</strong> en el instituto
    <strong>Urbano Lugrís</strong>. Mi enfoque está en el <strong
      >aprendizaje continuo</strong
    > y en mejorar mis habilidades técnicas día a día. Mi lenguaje principal es <strong
      >JavaScript</strong
    >, que domino ampliamente, junto con su tipado estático mediante <strong
      >TypeScript</strong
    >. También tengo experiencia significativa en <strong>Go (Golang)</strong> y
    <strong>Python</strong>. En cuanto a mi stack de desarrollo, manejo tanto el <strong
      >frontend</strong
    > como el <strong>backend</strong>, utilizando frameworks modernos como <strong
      >React</strong
    >, <strong>Next.js</strong>, <strong>Django</strong> y <strong>Fiber</strong
    >, entre otros. Mi objetivo es seguir creciendo como profesional y afrontar
    nuevos desafíos en el mundo de la programación.
  </div>
</article>
