<div
    class=`border-gradient w-[400px] h-[500px] absolute left-[70vw] top-[200px] border-[3px] border-solid rounded-[22px] border-teal-100 shadow-teal-100 shadow-lg
    max-[1118px]:left-[52vw] max-[998px]:-left-8 max-[998px]:w-screen max-[998px]:float-none max-[998px]:h-[150vh] max-[998px]:border-none max-[998px]:shadow-none max-[998px]:top-[-60px] max-[998px]:top-[50px] max-[1552px]:left-[60vw]`
>
    <img
        src='d4er-mainfoto.JPG'
        alt='d4er developer'
        class='h-full w-full rounded-[22px] max-[998px]:rounded-[0px]'
    />
</div>
<style>
    .border-gradient {
        z-index: -3;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
