---
const currentYear = new Date().getFullYear()
---

<footer
  class="opacity-80 mt-16 w-full mx-auto container mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <span class="text-sm text-zinc-200/90 pagew:pl-4"
      >© {currentYear}
      <a href="https://github.com/der56" target="_blank" class="hover:underline"
        >der56</a
      >. Todos los derechos reservados
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0 pagew:pl-4"
    >
      <a href="mailto:gabi.qs.mail@gmail.com">gabi.qs.mail@gmail.com</a>
    </ul>
  </div>
</footer>
