<div
    class='relative z-10 p-8 text-white h-[90vh] w-screen overflow-y-hidden min-h-[720px]'
    id='projects'
>
    <section class='relative'>
        <header class='relative'>
            <h1
                class='text-white pt-0 text-[40px] font-medium pl-20 z-4 max-[520px]:text-[30px] max-[520px]:pl-0 max-[520px]:text-center'
            >
                Algunos de mis proyectos
            </h1>
            <p
                class='text-white text-[20px] pl-20 w-800 mt-9 z-4 max-[520px]:text-[20px] max-[520px]:pl-0 max-[520px]:text-center'
            >
                También los puedes ver en mi <a
                    href='https://github.com/der56'
                    target='_blank'
                    class='underline'>Github</a
                >
            </p>
            <br class='min-[768px]:hidden' />
            <section
                class='relative isolate min-[1006px]:w-1/2 min-[1006px]:float-right min-[1006px]:mr-20 top-0'
                aria-label='Example Previews'
                style='padding-bottom:calc(32px * 4)'
            >
                <a
                    data-hk='s00-2-0'
                    tabindex='-1'
                    href='https://github.com/der56/computers-shop-api'
                    target='_blank'
                    style='--position: 0; --translate: calc(var(--position) * 32px); z-index: calc(5 - var(--position));'
                    class='noise-panel left-0 top-0 block w-full translate-y-[var(--translate)] transition-transform min-[1006px]:translate-x-[var(--translate)] relative bg-[#272930] rounded-lg'
                    data-card=''
                >
                    <p
                        class='code flex items-center justify-center py-1 text-sm'
                        aria-hidden='true'
                    >
                        github.com/der56/computers-shop-api
                    </p>
                    <img
                        src='shop-api.png'
                        width='827'
                        height='496'
                        alt='Api github'
                        class='w-full object-cover object-left-top rounded-b-lg'
                        loading='lazy'
                        decoding='async'
                    />
                </a>
                <a
                    data-hk='s00-2-1'
                    tabindex='-1'
                    href='https://github.com/der56/local-cloud'
                    target='_blank'
                    style='--position: 1; --translate: calc(var(--position) * 32px); z-index: calc(5 - var(--position));'
                    class='noise-panel left-0 top-0 block w-full translate-y-[var(--translate)] transition-transform min-[1006px]:translate-x-[var(--translate)] absolute bg-[#272930] rounded-lg'
                    data-card=''
                >
                    <p
                        class='code flex items-center justify-center py-1 text-sm'
                        aria-hidden='true'
                    >
                        github.com/der56/local-cloud
                    </p>
                    <img
                        src='cloued.png'
                        width='827'
                        height='496'
                        alt='Local Cloud'
                        class='w-full object-cover object-left-top rounded-b-lg'
                        loading='lazy'
                        decoding='async'
                    />
                </a>
                <a
                    data-hk='s00-2-2'
                    tabindex='-1'
                    href='https://github.com/der56/api-rest-validator-jwt'
                    target='_blank'
                    style='--position: 2; --translate: calc(var(--position) * 32px); z-index: calc(5 - var(--position));'
                    class='noise-panel left-0 top-0 block w-full translate-y-[var(--translate)] transition-transform min-[1006px]:translate-x-[var(--translate)] absolute bg-[#272930] rounded-lg'
                    data-card=''
                >
                    <p
                        class='code flex items-center justify-center py-1 text-sm'
                        aria-hidden='true'
                    >
                        github.com/der56/api-rest-validator-jwt
                    </p>
                    <img
                        src='validator.png'
                        width='827'
                        height='496'
                        alt='Validator jwt'
                        class='w-full object-cover object-left-top rounded-b-lg'
                        loading='lazy'
                        decoding='async'
                    />
                </a>
                <a
                    data-hk='s00-2-3'
                    tabindex='-1'
                    href='https://github.com/der56'
                    target='_blank'
                    style='--position: 3; --translate: calc(var(--position) * 32px); z-index: calc(5 - var(--position));'
                    class='noise-panel left-0 top-0 block w-full translate-y-[var(--translate)] transition-transform min-[1006px]:translate-x-[var(--translate)] absolute rounded-lg bg-[#272930]'
                    data-card=''
                >
                    <p
                        class='code flex items-center justify-center py-1 text-sm'
                        aria-hidden='true'
                    >
                        github.com/der56
                    </p>
                    <img
                        src='portfolio.png'
                        width='827'
                        height='496'
                        alt='Portfolio'
                        class='w-full object-cover object-left-top rounded-b-lg'
                        loading='lazy'
                        decoding='async'
                    />
                </a>
            </section>
        </header>
    </section>
</div>
