---
const { title, description } = Astro.props
---

<div
    class='relative z-10 p-8 text-white h-screen w-screen overflow-y-hidden overflow-x-hidden min-h-[800px]'
    id='home'
>
    <section class='relative'>
        <header class='relative'>
            <h1
                class='text-white pt-40 text-[55px] font-medium z-4 text-center justify-center'
            >
                {title}
            </h1>
            <p
                class='text-white text-[30px] mt-9 z-4 flex text-center justify-center max-[571px]:text-[26px] max-[471px]:text-[15px]'
            >
                {description}
            </p>
            <div class="w-[100%] flex mt-36 justify-center gap-24 max-[812px]:mt-32 max-[645px]:mt-16 max-[415px]:gap-3">
            <a href='#contact'>
                <button
                    class='border-white border-[3px] border-solid rounded-[4px] pl-10 pr-10 pt-2 pb-2 hover:bg-white hover:text-black max-[415px]:pl-6 max-[415px]:pr-6 max-[326px]:pl-4 max-[326px]:pr-4'
                    >Contact me</button
                ></a
            >
            <a href='#projects'>
                <button
                    class='border-white border-[3px] border-solid rounded-[4px] pl-10 pr-10 pt-2 pb-2 hover:bg-white hover:text-black transition-all duration-300 max-[415px]:pl-6 max-[415px]:pr-6 max-[326px]:pl-4 max-[326px]:pr-4'
                    >Proyects</button
                ></a
            >
        </div>
        </header>
    </section>
</div>
