---
import GitHub from '@icons/GitHub.astro'
import TopicsSkill from './TopicsSkill.astro'
---

<!-- Todo -->

<section
  class='flex items-center justify-center text-white bg-slate-500/10 rounded-lg'
>
  <div class='flex flex-row m-10' id='skills'>
      <TopicsSkill customClass='' skill="Lenguajes de programación" subSkills={['JavaScript', 'Python', 'Go', 'TypeScript']}/>
      <TopicsSkill customClass='justify-center' skill="John Doe" subSkills={['some', 'some', 'some']}/>
      <TopicsSkill customClass='justify-end' skill="Some" subSkills={['some', 'some', 'some']}/>
  </div>
  
</section>