---
import SocialElements from './SocialElements.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import BlogIcon from '../components/icons/Blog.astro'
---

<section
  class="w-full lg:w-[740px] mx-auto py-10 flex flex-col justify-center items-center mt-20"
>
  <h1
    class="text-white text-3xl lg:text-4xl font-bold flex justify-center flex-row gap-x-4 pb-4"
  >
    Hey, soy d4er👋
  </h1>
  <h3 class="mx-auto text-center pt-6 w-[70%] lg:w-[88%]">
    Soy <strong class="text-yellow-100/90">Desarrollador full-stack.</strong> Apasionado
    por crear <i class="text-red-200/90"
      >Soluciones Innovadoras y Resolver problemas.</i
    >🚀
  </h3>
  <nav class="flex gap-x-4 pt-8">
    <SocialElements href="https://github.com/der56" id="github-icon">
      <GitHubIcon class="w-7 h-6" />
      github
    </SocialElements>
    <SocialElements href="https://der56.github.io">
      <BlogIcon class="w-7 h-6" />
      blog
    </SocialElements>
  </nav>
</section>
