---
import '@fontsource-variable/montserrat'
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal portfolio!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <Header />
    <main class="max-w-[800px] mx-auto min-h-screen pt-16 overflow-y-auto">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .card:nth-child(n + 2) {
      @apply mt-10;
    }
  }

  :root {
    color-scheme: light dark;
  }
  html {
    font-family: 'Montserrat Variable', sans-serif;
    scroll-behavior: smooth;
    border-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    background: #32324a;
    background: radial-gradient(at right center, #32324a, #1c211c);
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  @media screen and (max-width: 800px) {
    body {
      width: 100%;
    }
  }

  main {
    display: flex;
    flex-direction: column; 
    margin: auto; 
    min-height: calc(
      100vh - 64px
    ); 
    padding-top: 64px;
    overflow-y: auto;
  }

  header {
    margin: 0
  }
  slot {
    margin: 0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
