---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Explora el portafolio de D4er, un Fullstack Developer especializado en crear soluciones web de calidad. Diseñado con Astro, mi portafolio es un escaparate de mi experiencia en desarrollo web front-end y back-end. Descubre proyectos innovadores, interfaces atractivas y funcionalidades sofisticadas que demuestran mi habilidad para transformar ideas en realidad. Explora mi trabajo y déjate inspirar por la combinación perfecta de diseño creativo y funcionalidad impecable.' />
		<meta name='viewport' content='width=device-width' />
		<link rel="icon" type="image/svg+xml" href='/favicon.png' />
		<meta name='portfolio' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class='h-screen overflow-x-hidden'>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}
</style>
